body{
  background-color: #000;
}
.not-found {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.not-found .main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23rem;
  color: #d9b852;
}
.not-found .main img {
  width: 300px;
  transform: rotate(360deg);
  text-transform: capitalize;
  animation: rotate 20s linear infinite;
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
#whoops {
  font-size: 2rem;
  margin-bottom: 10px;
}
.back-home {
  padding: 20px;
  background-color: #d9b852;
  color: #fff;
  width: 150px;
  margin: 20px auto;
}
.back-home a {
  text-decoration: none;
}
@media (max-width: 850px) {
  .not-found .main {
    font-size: 13rem;
  }
  .not-found .main img {
    width: 200px;
  }

  #not-found-des {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .not-found .main {
    font-size: 11rem;
  }
  .not-found .main img {
    width: 150px;
  }
  #whoops {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
#not-found-des{
  font-size: 10px;
}
.back-home {
  margin: 30px auto;
}
}
